  <!-- Tala om att det är html-dokument -->
<!DOCTYPE html>

<!-- Alla element ska finnas inom html-taggen -->
<html>
<!-- I head placeras saker som inte är innehåll, tex css-filer och javascript -->
<head>
    <!-- Dessa 3 meta-taggar måste vara först i head för att alla tecken (åäö) och Bootstrap ska fungera korrekt -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="icon" type="image/png" href="../bilder/recept.png">
    <!-- Koppla in Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <!-- Koppla in egen CSS-fil style.css OBS! Ha den som sista css-fil -->
    <link rel="stylesheet" type ="text/css" href="../css/style.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103013369-1', 'auto');
  ga('send', 'pageview');

</script>
 <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
  // Initialize Firebase

var receptnamn = "köttfärsås";
</script>
    <!-- Koppla in egen JavaScript-fil funktion.js OBS! Ha den som sista js-fil -->
    <script type="text/javascript" src="../js/funktion.js"></script>

    <!-- I title skriver du titeln som webbläsarfönstret ska ha när den här sidan besöks-->
    <title>Mina Recept</title>
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Orbitron" rel="stylesheet">
</head>

<!-- I body finns allt innehåll på hemsidan -->
<body ng-app="app">
        <nav class="nav navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="../index.html">Recept</a>
                <ul class="nav navbar-nav">
                    <li><a href="../menyval1.html">Recept</a></li>
                    <li><a href="../menyval2.html">Minafavoritrecept</a></li>
                    <li><a href="../menyval3.html">Om mig</a></li>
                </ul>
            </div>
        </nav>
        <div class="recept">
 <div Class="col-sm-2">
    <h2>Köttfärsås och spaggeti</h2>
        <img src="../bilder/food.jpg" width="100%">
    </div>

    
    <div class="col-sm-2">
        <h2>ingredienser</h2>
        <ul>
        <li>500 g</li>
        <li>1msk olivolja</li>
        <li>salt och peppar</li>
        <li>2tsk timjan</li>
        <li>1 vitlöksklyfta</li>
        <li>2 dl vispgrädde</li>
        <li>2dl mjölk</li>
        <li>1/2msk majsstärkelse</li>
        
        <h3>pasta</h3>
        <li>4port spaggeti</li>

        <h3>sallad</h3>
        <li>2 morötter</li>
        <li>1/2 rödlök</li>
        <li>1/2 roman sallad</li>
        <li>2tsk vitvinsvinäger</li>
        <li>2tsk olivolja</li>
        </ul>
    </div>

    
    <div class="col-sm-8">
    <h2>så här gör du</h2>
    <ol>
        <li>Sätt på en kastrull med pastavatten</li>
        <li>Köttfärssås: Bryn färsen i oljan i en stekpanna eller gryta.  Krydda med salt, peppar och timjan och pressa i vitlöken.</li>
        <li>Blanda grädde, mjölk och majsstärkelse och rör ner i färsen. Låt sjuda några minuter under omrörning.  </li>
        <li>Koka pastan enligt anvisningen på förpackningen.</li>
        <li>Sallad: Skala morötterna och fortsätt sedan att hyvla remsor med skalaren. Skala och skiva löken. Ansa och skär salladen i bitar. Blanda grönsakerna.</li>
        <li>Blanda vinäger och olivolja och krydda med salt och peppar.</li>
        <li>Servera pastan med sås, sallad och dressing</li>
    </ol>
    </div>
<div class="kommentarer" ng-controller="KommentarCtrl" >

    <form ng-submit="addComment()">
        <div class="form-group">
            <input placeholder="Ditt namn" type="text" class="form-control" ng-model="kommentar.skribent">
        </div>
        <div class="form-group">
            <input placeholder="Din kommentar" type="text" class="form-control" ng-model="kommentar.text">
        </div>
        <button type="submit" class="btn btn-primary">Kommentera</button>
    </form>
     <div class="kommentar" ng-repeat="kommentar in kommentarer">
        <p><h3>{{ kommentar.skribent }}</h3> {{ kommentar.text }}</p>
    </div>

</div>
    </body>
</html>